html,head,body{
    padding:0;
    margin:0;
    overflow-x: hidden;

}
/*-----------------헤더 구간 START------------------------------------- */
.header {
    display: flex;
}

.header .search_box{    /* 상단 좌측의 검색 박스 */
    width: 20%;
    text-align: center;
    background-color: transparent;
}

.search {  
    margin-left: 30px;
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: transparent;
    margin-top: 40px;
}
.search_input{
    width: 180px;
    border: 0; 
    background-color: rgb(255, 255, 255); 
    border-radius: 20px;
}
.search_input:hover{
    width: 180px;
    border: 0; 
    background-color: rgba(141, 141, 141, 0.275); 
    border-radius: 20px;
}

.search_btn{
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.header .login_box {    /*로그인 박스*/
    
    margin: 35px;
    width: 20%;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}

.login_text{

    text-decoration: none;
    color: black;
}

.header .title_box{
    padding: 8px;
    font-size: 35px;
    text-align: center;
    width: 60%;
    font-family: 'Bungee', cursive;

}

.title_button{
    background-color: transparent;
    border: 0;
    font-size: 35px;
    font-family: 'Bungee', cursive;
}

.menu{  /* 메뉴바 */
    font-weight: 600;
    padding: 1px;
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: rgb(214, 214, 214);
}

.menu ul li a{
    
    font-size: 18px;
    display: inline;
    text-decoration: none;
    margin: 30px;
    color: rgb(0, 0, 0);
    list-style: none;
}

.menu ul li a:hover{
    
    font-size: 18px;
    display: inline;
    text-decoration: none;
    margin: 30px;
    color: rgb(167, 167, 167);
    list-style: none;
}

 .menu ul li {
     display: inline;
 }


/*-----------------헤더 구간 END--------------------------------------- */


 .intro{
     text-align: center;
     color: white;
     position:relative;
 }
 
 .intro .text{
     position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

 }
.intro .intro_button{

    position: absolute;
     top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro .intro_button .i_button {  /* 작곡, 코딩 사진에 있는 버튼 CSS */

    color: white;
    font-size: 15px;
    font-weight: 900;
    width: 120px;
    height: 60px;
    outline: 1;
    border-radius: 3px;
    background-color:transparent;

    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.intro .intro_button .i_button:hover {  /* 작곡, 코딩 사진에 있는 버튼 HOVER CSS */

    color: black;
    font-size: 15px;
    font-weight: 900;
    width: 120px;
    height: 60px;
    outline: 1;
    border-radius: 3px;
    background-color:transparent;

    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: rgb(255, 255, 255);

}

.h1{
    font-size: 35px;
}

.mainintro {
    margin: 40px;
    text-align: center;
}
.icon_box_img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.icon_box_img:hover {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.HJCimg { /*HTML,JS,CSS 사진 CSS*/
    max-width: 50%;
    height: auto;
}

.button{ /* 문의하기 버튼 CSS */
    font-size: 18px;
    font-weight: bolder;
    width: 160px;
    height: 60px;
    background-color: rgb(148, 255, 196);
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.button:hover{ /* 문의하기 버튼 CSS */
    font-size: 18px;
    font-weight: bolder;
    width: 160px;
    height: 60px;
    background-color: rgba(148, 255, 196, 0.692);
    border: 0;
    outline: 0;
    border-radius: 5px;
}
/*-------------------------footer START-----------------------*/
.footer {
    text-align: left;
    color: white;
    background-color: rgb(49, 49, 49);
    height: 300px;
    width: 100%;
    padding: 10px;

}
.footer .f_box1 { /* footer SOUND, WEB 이름 박스*/
    text-align: center;
}

.footer .f_box2 { /* 제작자 정보 박스 */
    text-align: center;
    float: left;
    width: 50%;
}

.footer .f_box3 {  /* footer 문의 관련 박스 */
    
    text-align: center;
    float: right;
    width: 50%;
}

.sub_infor{    /* 제작자 정보 아래 글 */
    color: rgb(185, 185, 185);
    font-size: 12px;
}

.f_box3_text {  /*문의 관련 텍스트*/
    
    font-size: 14px;
    color: rgb(185, 185, 185);
    text-decoration: none;
}

.f_box3_text:hover{
    
    font-size: 14px;
    color: rgb(235, 235, 235);
    text-decoration: none;
}
/*--------------------------footer END-----------------------*/

/*----------------------intro CSS---------------------*/

.background_box1{
    display: flex;
    width: 100%;
    height: 700px;
}




.intro_box{
    margin: 0px 20%;
    display: flex;
    text-align: center;
    max-width: 100%;
    height: auto;

}

.intro_1_img{
    height: 500px;
    position: relative;
}
.fadein_text{
    
    font-size: 35px;
    margin: 80px 40px;
    text-align: left;
    position:absolute;
    display: inline-block;
    animation: fadein 3s;
    -webkit-animation: fadein 3s;
}

@-webkit-keyframes fadein { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.intro_sub_text{
    font-size: 20px;
    animation: fadein 8s;
}

.background_box2{
    width: 100%;
    height: auto;
}

.intro_main{
    margin: 20px 0px;
    background-color: rgb(226, 226, 226);
    
    display: flex;
    text-align: center;
    width: 100%;
    
}
.studioimg{
    
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
}
.studioimg_text{
    
    margin: 50px 300px;
    width: 750px;
    float: right;
    text-align: right;
    position:absolute;
}

.intro_text2{
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: right;
    margin-top: 50px;
    
}
.gameimage_text{
    margin-left: 50px;
    margin-right: 300px;
    margin-top: 50px;
    
    
}
.studioimg_text hh1{
    color: rgb(0, 2, 48);
    font-size: 50px;
    font-weight: bolder;
    
}

.gameimage_text hh1{
    color: rgb(46, 0, 48);
    font-size: 50px;
    font-weight: bolder;
    
}

.intro_text3{
    background-color: rgb(226, 226, 226);
    margin-top: 50px;
    display: flex;
    
    
}
.intro_text3 hh1{
    color: rgb(6, 48, 0);
    font-size: 50px;
    font-weight: bolder;

}
.lang_text{
    text-align: right;
    margin-left: 300px;
    margin-right: 50px;
    margin-top: 50px;
}
/*----------------------intro CSS---------------------*/




